* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
input {
  width: 70px;
}
p {
  padding: 0.4em 0;
}
#flexContainer {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 1em;
  gap: 1em;
}
.container  ,#create{
  position: relative;
  display: flex;  
  flex-direction: column;
  border: 3px solid #e6e6e6;
  width: max-content;
  padding: 1em;
  border-radius: 7px;
  justify-content: center;
}
#grid {
  display: grid;
}
.del{
  position: absolute;
  right: 0;
  top: 0;
}
h1{
  text-align: center;
  width: max-content;
  padding: 1em;
}
