* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: sans-serif;
  }
  input {
    width: 30px;
  }
  p {
    padding: 0.4em 0;
  }
  #flexContainer {
    display: flex;
    padding: 1em;
  }
  .container {
    position: relative;
    display: flex;  
    flex-direction: column;
    border: 3px solid #e6e6e6;
    width: max-content;
    padding: 1em;
    margin: 0 0.6em;
    border-radius: 7px;
  }
  #grid {
    display: grid;
  }
  .del{
    position: absolute;
    right: 0;
    top: 0;
  }
  